body {
	margin: 5%;
}

.container {
	margin: auto;
	width: 50%;
}

.form-input {
	margin-top: 15px;
	margin-bottom: 15px;
}

.required:after {
	content: ' *';
	color: red;
}

/* Clear floats after the columns */
.row:after {
	content: '';
	display: table;
	clear: both;
}

.col-25 {
	float: left;
	width: 25%;
}

.col-50 {
	float: left;
	width: 50%;
}

select {
	width: 100%;
	padding: 10px 0px 10px 0px;
	display: inline-block;
	border: none;
}

/* Full-width input fields */
input {
	width: 100%;
	padding: 10px 0px 10px 0px;
	display: inline-block;
	border: none;
}

input:focus {
	background-color: #ddd;
	outline: none;
}

.submit-btn {
	background-color: #04aa6d;
	border: none;
	color: white;
	padding: 16px 32px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
}

/* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.col-25,
	.col-75 {
		width: 100%;
		margin-top: 0;
	}
}
